rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /versions/{version} {
    	allow read: if true
    }
    match /versions/{version}/users/{user}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == user
    }

    match /users/{user} {
      allow read, write: if request.auth != null && request.auth.uid == user
    }

    // masterdata
    match /etc/{etc} {
      allow read: if true
    }
    match /newcoming/{newcoming} {
      allow read: if request.auth != null
    }
    match /shop/{shop} {
      allow read: if request.auth != null
    }
  }
}